Value TABLE (\S+)
Value RULE (\S+)
Value PRIORITY (\d+)
Value ACTION (\w+)
Value List MATCH (\S+:\s\S+)

Start  
  ^Table\s+Rule\s+Priority\s+Action\s+Match
  ^[-+\s+]+ -> Row

Row
  ^${TABLE}\s+${RULE}\s+${PRIORITY}\s+${ACTION}\s+${MATCH} -> Match

Match
  ^\s*${MATCH} -> Record Row
