Value interface (\w+)
Value via (\w+)
Value to (([0-9]{2}\:){2}([0-9]){2})
Value type ([A-Za-z]\>\*)

Start
  ^interface\s+via\s+to\s+type
  ^[\s+]+ -> Row

Row
  ^${type}\s\S+\s+\S+\s+\S+\s+${via}\,\s+${interface}\,\s+${to}* -> Record
