Value LOCALADDRESS (([0-9]{1,3}\.){3}([0-9]{1,3}))
Value NEIGHBORADDRESS (([0-9]{1,3}\.){3}([0-9]{1,3}))
Value REMOTEAS (\d+)
Value LOCALAS (\d+)
Value REMOTEROUTERID (([0-9]{1,3}\.){3}([0-9]{1,3}))
Value LOCALROUTERID (([0-9]{1,3}\.){3}([0-9]{1,3}))
Value BGPSTATE (\w+)


Start
  ^BGP neighbor is ${NEIGHBORADDRESS}, remote AS ${REMOTEAS}, local AS ${LOCALAS}
  ^.*remote router ID ${REMOTEROUTERID}, local router ID ${LOCALROUTERID}
  ^.*BGP state = ${BGPSTATE}.*
  ^Local host:\s+${LOCALADDRESS}.* -> Record

