Value NAME (\S+)
Value TYPE (\S+)
Value BINDING (\S+)
Value DESCRIPTION (\S+)
Value STAGE (\w+)

Start
  ^Name\s+Type\s+Binding\s+Description\s+Stage
  ^[-+\s+]+ -> Row

Row
  ^${NAME}\s+${TYPE}\s+${BINDING}\s+${DESCRIPTION}\s+${STAGE} -> Record
