Value PLATFORM (\S+)
Value HWSKU (\S+)
Value ASIC (\S+)
Value ASIC_COUNT (\d+)

Start
  ^\w+:\s+${PLATFORM} -> hwsku

hwsku
  ^\w+:\s+${HWSKU} -> asic

asic
  ^\w+:\s+${ASIC} -> asic_count

asic_count
  ^[\w\s]+:\s+${ASIC_COUNT} -> Record
