Value IP (([0-9]{1,3}\.){3}[0-9]{1,3})
Value MAC (([0-9a-fA-F]{2}[:-]){5}([0-9a-fA-F]){2})
Value IFACE (\S+)
Value VLAN (([0-9]){3})

Start
  ^Address\s+MacAddress\s+Iface\s+Vlan
  ^[-+\s+]+ -> Row

Row
  ^${IP}\s+${MAC}\s+${IFACE}\s+${VLAN}* -> Record